
.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(196, 189, 193);
    text-align: center;
}

#title{
   text-align: center; 
}