<div class="container">
<h2>This one is signup</h2>

<section>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Enter your name"
  /><br /><br />
  
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Set a Password"
  /><br /><br />
  <input
    type="password"
    name="conformPassword"
    id="conformPassword"
    placeholder="Conform your Password"
  /><br /><br />

  <nav>
    <a class="button" routerLink="/signup" routerLinkActive="activebutton"
      >Sign up</a
    >
  </nav>
</section>

<section id="login">
  <h3>
    Already have an account!
    <a class="login" routerLink="/login" routerLinkActive="activebutton"
      >Log in</a
    >
  </h3>
</section>
</div>
